body{
    font-family: 'Open Sans', sans-serif;
}
.output ul {
    list-style-type: none;
}

.output label {
    font-weight: normal;
}

label.key {
    color: rgb(9, 102, 123);
}

label.value {
    
}

li.show-hide {
    margin-top: 0px;
}

.show-hide {
    cursor: pointer;
    background-color: #045658;
    padding-left: 3px;
    padding-right: 2px;
    color: #ffffff;
}

.block-highlight {
    border-left: 1px dotted black;
}

.root-node {
    color: #383131;
}

label.node {
    padding-left: 5px;
}