<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/jb.css" />
        <!--1.5.8-->
        <script src="ext_lib/angular.min.js"></script>
        <script src="modules/beautifier/app.js"></script>
        <script src="modules/beautifier/ctrl.js"></script>
        <script src="modules/beautifier/dir.js"></script>
        <script src="modules/beautifier/service.js"></script>
    </head>

    <body>
        <div class="container-fluid" data-ng-app="beautifierApp" data-ng-controller="beautifierCtrl">
            <input-block input-json="inputJson" output-json="outputJson"></input-block>
            <div class="row alert alert-danger" data-ng-hide="isValidInput() || isEmptyInput()">
                Invalid Json!
            </div>
            <div class="panel panel-default" data-ng-if="isValidInput()">
                <div class="panel-heading">Formatted JSON</div>
                <div class="panel-body output">
                    <label class="value" data-ng-if="isArrayType(outputJson)">[</label>
                    <label class="value" data-ng-if="isObjectType(outputJson)">{</label>
                    <output-block formatted-json="outputJson"></output-block>
                    <label class="value" data-ng-if="isArrayType(outputJson)">]</label>
                    <label class="value" data-ng-if="isObjectType(outputJson)">}</label>
                </div>
            </div>
        </div>
    </body>
</html>