<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" />
        <link rel="stylesheet" href="css/bootstrap.min.css" />
        <link rel="stylesheet" href="css/jb.css" />
        <!--1.5.8-->
        <script src="ext_lib/angular.min.js"></script>
        <script src="ext_lib/ngStorage.min.js"></script>
        <script src="modules/beautifier/app.js"></script>
        <script src="modules/beautifier/ctrl.js"></script>
        <script src="modules/beautifier/dir.js"></script>
        <script src="modules/beautifier/service.js"></script>
        <script src="modules/beautifier/filter.js"></script>
    </head>

    <body>
        <div class="container-fluid" data-ng-app="beautifierApp" data-ng-controller="beautifierCtrl">
            <ul class="nav nav-tabs jb-tabs">
              <li data-ng-repeat="tab in tabs" role="presentation" 
                  data-ng-class="{'active':tab.active}" data-ng-click="toggleTab($index)">
                  <a href="#">{{tab.tabName}}</a>
                    <span class="glyphicon glyphicon-remove close" data-ng-click="deleteTab($index)"></span>
                </li>
                <li role="presentation" class="add-tab" data-ng-click="addTab()"><span class="glyphicon glyphicon-plus"></span></li>
            </ul>
            <input-block input-json="inputJson[activeTab]" output-json="outputJson"></input-block>
            <div class="row alert alert-danger" data-ng-hide="isValidInput() || isEmptyInput()">
                Invalid Json!
            </div>
            <div class="panel panel-default" data-ng-if="isValidInput()">
                <div class="panel-heading">Formatted JSON</div>
                <div class="panel-body output">
                    <ul>
                        <li data-ng-class="[{'block-highlight':blockHighlightFlag}]"
                        data-ng-mouseover="blockHighlightFlag = true"
                        data-ng-mouseout="blockHighlightFlag = false">
                            <span class="glyphicon show-hide" 
                              data-ng-class="{'glyphicon-minus':showChildren, 'glyphicon-plus':!showChildren}" 
                              data-ng-click="showChildren = !showChildren"
                              data-ng-mouseover="blockHighlightFlag = true"
                              data-ng-mouseout="blockHighlightFlag = false"></span>
                            <label class="root-node">root</label>
                            <label class="value node" data-ng-if="isArrayType(outputJson)">[{{outputJson.length}}]</label>
                            <label class="value node" data-ng-if="isObjectType(outputJson)">{ {{outputJson|numKeys}} }</label>
                            <output-block formatted-json="outputJson" data-ng-show="showChildren"></output-block>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>