body{
    font-family: 'Open Sans', sans-serif;
}
.output ul {
    list-style-type: none;
}

.output label {
    font-weight: normal;
}

label.key {
    color: rgb(9, 102, 123);
}

label.value {
    
}

li.show-hide {
    margin-top: 0px;
}

.show-hide {
    cursor: pointer;
    background-color: #045658;
    padding-left: 3px;
    padding-right: 2px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.block-highlight {
    border-left: 1px dotted black;
}

.root-node {
    color: #383131;
}

label.node {
    padding-left: 5px;
}

.jb-tabs {
    margin-bottom: 10px;
}

.jb-tabs li.active a{
    background-color: #f5f5f5;
}

.jb-tabs li a{
    color: #000000;
    float: left;
}

li.add-tab span {
    font-size: 19px;
    padding-top: 9px;
    cursor: pointer;
    padding-left: 5px;
}

.jb-tabs li span.close {
    color: #f90000;
    cursor: pointer;
    left: -18px;
    font-size: 0.8em;
    font-weight: 200;
}